/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-dark {
  /* сохраните этот селектор в приведённом виде.
    Так стили написанные ниже будут иметь больший вес,
    чем стили в медиазапросе предпочтений пользователя
  */
  --bcg-image: url(../images/cover-image-dark.png);
  --heading-color: #db00ff;
  --accent-color: #ff0070;
  --button-color: #ff0070;
  --paragraph-color: #f1b2ce;
  --section-name-text-color: #000028;
  --accent-border: solid 1px var(--accent-color);
}


